@model tl2_tp8_2025_Gonz0x.Models.Productos

<h2>Detalles del Producto</h2>

<table class="table table-bordered mt-3">
    <tr>
        <th>ID</th>
        <td>@Model.IdProducto</td>
    </tr>
    <tr>
        <th>Descripción</th>
        <td>@Model.Descripcion</td>
    </tr>
    <tr>
        <th>Precio</th>
        <td>@Model.Precio.ToString("C")</td>
    </tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Volver</a>
<a asp-action="Edit" asp-route-id="@Model.IdProducto" class="btn btn-warning">Editar</a>
<a asp-action="Delete" asp-route-id="@Model.IdProducto" class="btn btn-danger">Eliminar</a>
